 <!-- Inicio FOOTER -->
 <footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__item">
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/register">REGISTRARSE</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/login">INGRESAR</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/admin/contact.html">CONTACTO</a>
            </li>
        </ul>
        <picture>
            <a href="/">
                <img src="/img/branding/isotype.svg" alt="Isologotipo de la marca FunkoShop">
            </a>
        </picture>
    </nav>
    <p class="footer__copy">All Rights Reserved 2023 - &copy;</p>
</footer>
<!-- Fin FOOTER -->

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="./js/glide.js"></script>
<script src="../../js/item.js"></script>
<script src="../../js/glide.js"></script>
</body>

</html>